body{
    margin: 0;
    background-color: #000000;
    height: 100vh;
    overflow: hidden;
}
span{
    background: url("heart_833472.png");
    background-image: -moz-radial-gradient();
width: 100px;
height: 100px;
position: absolute;
overflow: hidden;
background-size: cover;
pointer-events: none;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
animation: animate 6s linear;
}
@keyframes animate{
    0%{transform: translate(-50%,-50%);
        filter: hue-rotate(0);
    opacity: 1;}
    100%{transform: translate(-50%,-5000%);
        filter: hue-rotate(900deg);
    opacity: 0;}
}