body{
    margin: 0%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: skyblue;
}
.container{
    font-family:"Edu AU VIC WA NT Pre", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}