body{
    backdrop-filter: grayscale(.7);
    margin: 0;
    color: white;
    height: 100vh;
    background-image: url("trendy-color-gradient-creative-background-vector.jpg");
}
input{
    background-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-color: rgba(250, 235, 215, 0.534);
    border-radius: 5px;
}
input:focus-visible{
    background-color: white;
    color:black ;
    border: none;
    border-color: transparent;
    scale: 1.1;
}
.mainHeader{
    height: 10vh;
    margin-top: 0;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 228, 196, 0.329);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.subHeader{
    height: 60px;
    align-items: start;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: black;
}
.form{
    height: 500px;
    align-items: end;
    display: flex;
justify-content: center;
}
table{
    scale: 1.3;
    border-color: rgb(252, 252, 252);
    border-style: solid;
    background-color: rgba(128, 128, 128, 0);
    padding: 20px 40px 40px 40px;
border-radius: 20px;
box-shadow: 2px 2px 20px 10px rgba(248, 246, 246, 0.411);
}
.signed{
    border-style:solid ;
    border-radius: 20px;
    align-content: center;
    height: 40px;
    width: 100px;
    border-color: white;
    

}
.Character{
    font-size: smaller;
    color: orangered;
    background-color: rgba(240, 248, 255, 0.158);
}
a{
    /* border-style: solid; */
    text-decoration: none;
    color: black;
    font-size: large;
    background-color: black;
}

::placeholder{
    color: rgba(0, 0, 0, 0.65);
}
select{
    background-color: rgba(9, 80, 141, 0);
}
/* .signed::before{
    content: "";
    width: 30px;
    height: 30px;
    background: aqua;
    color: black;
} */
.signed:hover{
    content: "";
    width: 100px;
    height: 40px;
    background: #fff;
    color: black;
    box-shadow: 0 0 3px 3px white;
    transition: .3s ease-in;
}
#back{
    color: rgb(248, 243, 243);
    position: absolute;
    background: rgba(0, 0, 0, 0.458);
    padding: 0px 9px 0px 9px;
    border: 2px black solid;
    margin-left:15% ;
    border-radius: 20px;

}
#back:hover{
    scale: 1.2;
    background: #000;
    color: aliceblue;
}